<div class="search-div">
    <button mat-icon-button color="accent" (click)="addDepartment()">
        <mat-icon  class ="pdf" >add_box</mat-icon>
      </button>
    <input class="search-container" type="text" placeholder="Search.." autocomplete="off"  [(ngModel)]="searchText" (input) = "search()">
    <button type="submit"><i class="fa fa-search"></i></button>
    
   
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
      <table class="table">
        <thead>
          <th>Candidate Id</th>
          <th>Candidate Full Name</th>
          <th>Candidate Mobile</th>
          <th>Candidate Email</th>
          <th>Candidate Age</th>
          <th>Candidate BloodGroup</th>
          <th>Candidate Address</th>
          <th>Edit/Delete</th>
         
        </thead>
        <tr *ngFor="let dept of _canService.candidateFullList">
          <td>{{dept.CandidateId}}</td>
          <td>{{dept.candidateFullName}}</td>
          <td>{{dept.candidateMobile}}</td>
          <td>{{dept.candidateEmail}}</td>
          <td>{{dept.candidateAge}}</td>
          <td>{{dept.candidateBloodGroup}}</td>
          <td>{{dept.candidateAddress}}</td>
          <td>
              <button mat-icon-button color="accent"(click)="editDepartment(dept.DepartmentId)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteDepartment(dept.Id)"><mat-icon>delete_forever</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>
