<mat-toolbar  class="navbar" width="105%">
    <div class="logout">
        <mat-icon  routerLink="/dashboard" routerLinkActive="active">nfc</mat-icon>
        
       
    </div>

    <div> 
        AngularCrud
        <span >
            
            <!-- <small>Login</small> -->
         
        <!-- <mat-icon >account_box</mat-icon> -->
    </span>
    </div>
   
    <div class="logout">
        
        <!-- <span >
            <mat-icon>notifications</mat-icon>
        </span>
      
        <span >
            <small>Logout</small>
            <mat-icon> account_circle</mat-icon>
        </span>     -->
    </div>
 </mat-toolbar>

 <!-- <div class="page-wrap" >
    <div class="conntainer">
      <mat-card class="border">
      <img src="../assets/image/logo1.PNG"  />
     <form>
        <div> 
            HRM
            <span *ngIf="!this.authService.isLoggedIn()" routerLink="/login">             
            <mat-icon >account_box</mat-icon>
        </span>
        </div>
    </form>
    </mat-card>
    </div>
   </div> -->


 <div class="footer" #footer >
    Your sticky footer with a variable height.
  </div>
 


 <!-- <img *ngIf="!this.authService.isLoggedIn()"  src="/assets/image/blur-background.jpg" width="105%"> -->
