<mat-card style="margin-bottom: 10px; width: 450px;">
    Add New Leave
    <mat-card-content>
      <form  [formGroup]="candidateForm" (ngSubmit) = "onSubmit()">
        <div class="col-md-12">
          <!-- <div class="form">
            <mat-form-field color="accent">
              <input matInput type="number" formControlName="CandidateId" class="form-control" placeholder="Candidate Id" required>
            </mat-form-field>
          </div> -->
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateFullName" placeholder="Candidate Full Name">
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateMobile" placeholder="Candidate Mobile">
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateEmail" placeholder="Candidate Email">
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateAge" placeholder="Candidate Age">
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateBloodGroup" placeholder="Candidate BloodGroup">
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <input matInput formControlName="CandidateAddress" placeholder="Candidate Address">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="!candidateForm.valid" [mat-dialog-close]="1">
            Save
          </button>
        <button mat-raised-button class="btn btn-warning" tabindex="-1" [mat-dialog-close]="1">
            Cancel
          </button>
        
      </form>
    </mat-card-content>
  </mat-card>