<!-- <div class="box">
    <button class="button" mat-icon-button color="accent" routerLink="/user-list" routerLinkActive="active">
    <mat-icon>pages</mat-icon>
    <h5>
    <small>Users</small>
    </h5>
    </button>
    
   <button  class="button" mat-icon-button color="success"  routerLink="/employee-list" routerLinkActive="active">
    <mat-icon>poll</mat-icon>
    <h5>
       <small>Employee</small>
    </h5>
    </button>

    <button  class="button" mat-icon-button color="accent"   routerLink="/leave-list" routerLinkActive="active">
    <mat-icon>map</mat-icon>
    <h5>
        <small>Leave</small>
     </h5>
    </button>

    <button  class="button" mat-icon-button color="success"   routerLink="/loan-list" routerLinkActive="active">
    <mat-icon>touch_app</mat-icon>
    <h5>
        <small>Loan</small>
     </h5>
    </button>

    <button  class="button" mat-icon-button color="accent"   routerLink="/payroll-list" routerLinkActive="active">
    <mat-icon>camera_rear</mat-icon>
    <h5>
        <small>Payroll</small>
     </h5>
    </button>

    


<div class="box">
    <button class="button" mat-icon-button color="success"  routerLink="/training-list" routerLinkActive="active">
        <mat-icon>gamepad</mat-icon>
        <h5>
            <small>Training</small>
         </h5>
        </button>

        <button  class="button" mat-icon-button color="accent" routerLink="/department-list" routerLinkActive="active">
            <mat-icon>touch_app</mat-icon>
            <h5>
                <small>Dept</small>
             </h5>
            </button>

            <button  class="button" mat-icon-button color="success"   routerLink="/employee-salary-list" routerLinkActive="active">
                <mat-icon>shuffle</mat-icon>
                <h5>
                    <small>Salary</small>
                 </h5>
                </button>


                <button  class="button" mat-icon-button color="accent"   routerLink="/employee-project-list" routerLinkActive="active">
                    <mat-icon>filter_list</mat-icon>
                    <h5>
                        <small>Project</small>
                     </h5>
                    </button>


                    <button  class="button" mat-icon-button color="success"  routerLink="/employee-attendance-list" routerLinkActive="active">
                        <mat-icon>grain</mat-icon>
                        <h5>
                            <small>Attendance</small>
                         </h5>
                        </button>
            </div>
        </div> -->
       
        <div class="sp">
            <div class="p" >
                  <div class="i" cdkDrag> 
                    <button class="button" mat-icon-button color="accent" routerLink="/candidate-list" routerLinkActive="active">
                        <mat-icon>pages</mat-icon>
                        <h5>
                        <small>Candidate</small>
                        </h5>
                        </button>
                        
                       <button  class="button" mat-icon-button color="success" >
                        <mat-icon>poll</mat-icon>
                        <h5>
                           <small>Mock</small>
                        </h5>
                        </button>
                    
                        <button  class="button" mat-icon-button color="accent" >
                        <mat-icon>map</mat-icon>
                        <h5>
                            <small>Mock</small>
                         </h5>
                        </button>
                    
                        <button  class="button" mat-icon-button color="success"  >
                        <mat-icon>touch_app</mat-icon>
                        <h5>
                            <small>Mock</small>
                         </h5>
                        </button>      
                </div>
                  

          </div>
          </div>

        <!-- <md-grid-list cols="4-2" rowHeight="500px" gutterSize="10px">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-icon>more_vert</mat-icon>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>MR. Y</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </md-grid-list>

        <md-grid-list cols="4-2" rowHeight="500px" gutterSize="10px">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-icon>more_vert</mat-icon>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>MR. Y</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </md-grid-list> -->


        
<!-- <div class="box">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-icon>more_vert</mat-icon>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MR. Y</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div class="box">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-icon>more_vert</mat-icon>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MR. Y</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div class="box">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-icon>more_vert</mat-icon>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MR. Y</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div> -->

    <!-- <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button> -->


<!-- <div class="box">
    <button class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
        <mat-icon>donut_small</mat-icon>
    </button>
    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>

    <button  class="button" mat-raised-button  routerLink="app-dashboard" routerLinkActive="active">
    <mat-icon>donut_small</mat-icon>Add User
    </button>
</div> -->

<!-- <router-outlet></router-outlet> -->


<footer class="footer">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">content_copy</i>
                            </div>
                            <p class="card-category">Total Users</p>
                            <h3 class="card-title">50
                                <small></small>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons text-danger">warning</i>
                                <a href="javascript:void(0)">Get More Space...</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                            <p class="card-category">Employees On Training</p>
                            <h3 class="card-title">25</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <p class="card-category">Projects Going On</p>
                            <h3 class="card-title">5</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <p class="card-category">Attended Today</p>
                            <h3 class="card-title">48/50</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">update</i> Just Updated -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>